<template>
  <div>
    <div v-for="data in datas" :key="data.number">
      <div class="customCardFront">
        <img src="./kartutemp/icbs/blkg_fix.png" width="100%" height="100%" />
        <!-- <div>
          <img
            :src="`https://api.katalis.info/main_d/image_temp/get/${data.photoUrl}/pas`"
            class="avatar"
            alt=""
          />
        </div> -->
        <!-- <div class="info">
                    <div v-if="data.name.length < 23">
                        <p class="nama">{{ data.name }}</p>
                    </div>
                    <div v-else>
                        <p class="nama_alter">{{ data.name }}</p>
                    </div>
                    <p class="idcard"><b>{{ data.number }}</b></p>
                    <p class="ttl"><b>{{ data.placeOfBirth }},{{ data.dateOfBirth | moment("D MMMM YYYY")}}</b></p>
                    <div v-if="data.address == null ? 20  : data.address.length < 50">
                        <p class="address"><b>{{ data.address == null ? "-" : data.address }}</b></p>
                    </div>
                    <div v-else>
                        <p class="addressAlter"><b>{{ data.address == null ? "-" : data.address }}</b></p>
                    </div>

                    <div v-if="data.address.length > 50">
                         <p class="addressAlter"><b>{{ data.address }}</b></p>
                         </div>
                         <div v-else>
                         <p class="address"><b>{{ data.address }}</b></p>
                         </div>
                </div> -->
        <!-- <div>
                     <vue-qrcode class="qrcode" :value="data.number" margin="1" width="63"/>
                     </div> -->
      </div>
    </div>
  </div>
</template>


<script>
import VueQrcode from "vue-qrcode";

export default {
  components: { VueQrcode },
  layout: "blank",
  data() {
    return {
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      tags: ["9 madinah"],
      datas: [],
      kategoris: [],
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
        fotoStatus: 0,
      },
    };
  },
  beforeMount() {
    var customerId = this.$store.state.customer.customerId;
    // this.$store.state.user.user.activeCompany;
    if (customerId != "") {
      this.search.customer = customerId;
    }
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );
    this.getCustomer();
  },
  methods: {
    getCustomer() {
      this.$axios
        .$get("main_b/pelanggan/get_combo_pelanggan")
        .then((response) => {
          console.log(response);
          this.customerOptions = response;
          if (response.length == 1) {
            this.search.customer = response[0].id_;
            this.getDatas(
              this.paging.size,
              this.paging.page,
              this.paging.fotoStatus,
              this.paging.isPrint
            );
          }
        });
    },
    onChangeCustomer() {
      this.getDatas(
        this.paging.size,
        this.paging.page,
        this.paging.fotoStatus,
        this.paging.isPrint
      );
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
      this.getPipeline();
    },
    getDatas(size, page) {
      let search = [];
      search.push({ field: "customerId", key: "5ff41e946b596410552a7245" });
      search.push({ field: "pipelineProcessId", key: this.search.pipeline });
      // search.push({ field: "kelas", key: "7" })

      // if (this.number) {
      //     search.push({
      //         field: "number",
      //         key: this.number,
      //     });
      // }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
            "?photoStatus=" +
            1 +
            "&isPrint=" +
            1 + //NOTE 1= belum terprint, 0 = sudah terprint
            "&size=" +
            size +
            "&page=" +
            page +
            // "&sort=kelasDetail" +
            "&dir=1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.kategoris = response.content.tags;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
  },

  //   var fruits = 'apple orange pear banana raspberry peach';
  // var ar = fruits.split(' '); // split string on comma space
  // if (ar.length > 3) {
  //   ar.length = 3;
  // }

  // console.log( ar );
};
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  bottom: 36px;
  font-family: Ubuntu;
  z-index: 1;
  font-size: 15px;
  text-align: left;
  border: 22px;
  color: black;
  /* font-weight: bold; */
  line-height: 1.6;
  width: 310px;
  text-transform: capitalize;
  /*      transform: rotate(90deg); */
  left: 69px;
}

.nama {
  width: 250px;
  line-height: 16px;
  font-size: 17px;
  margin-bottom: 14px;
  font-weight: bold;
}

.nama_alter {
  width: 245px;
  line-height: 16px;
  font-size: 14px;
  /*      margin-top: 6px; */
  margin-bottom: 15px;
  font-weight: bold;
}

.idcard {
  margin-bottom: -6px;
  font-weight: bold;
  margin-top: -15px;
  font-size: 15px;
}

.ket {
  margin-top: -6px;
  font-size: 15px;
}

.address {
  margin-top: -25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  width: 229px;
}

.addressAlter {
  margin-top: -20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  width: 229px;
}

.ttl {
  font-size: 14px;
  margin-bottom: 21px;
  font-weight: bold;
}

.ttl_alter {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 15px;
}

.avatar {
  width: 139px;
  position: absolute;
  z-index: -1;
  top: 115px;
  right: 45px;
  height: auto;
  /*      transform: rotate(90deg); */
}

.qrcode {
  /* transform: rotate(90deg); */
  position: absolute;
  top: 155px;
  left: 382px;
}
</style>
