<template>
  <div>
    <div v-for="data in datas" :key="data._id">
      <div class="customCardFront">
        <img
          src="./kartutemp/jadid/jadid-depan.png"
          width="100%"
          height="100%"
        />
        <div>
          <img
            :src="`https://api.katalis.info/main_d/image_temp/get/${data.photoUrl}/pas`"
            class="card-img-top avatar2"
            alt=""
          />
        </div>
        <div class="info">
          <div v-if="data.name.length < 20">
            <p class="nama">{{ data.name }}</p>
          </div>
          <div v-else>
            <p class="nama_alter">{{ data.name }}</p>
          </div>

          <p class="number">NIUP : {{ data.number }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "blank",
  data() {
    return {
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      tags: [],
      datas: [],
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 1,
        perPageOptions: [5, 10, 25, 50],
        fotoStatus: 0,
      },
    };
  },
  beforeMount() {
    var customerId = this.$store.state.customer.customerId;
    // this.$store.state.user.user.activeCompany;
    if (customerId != "") {
      this.search.customer = customerId;
    }
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );
    this.getCustomer();
  },
  methods: {
    getCustomer() {
      this.$axios
        .$get("main_b/pelanggan/get_combo_pelanggan")
        .then((response) => {
          console.log(response);
          this.customerOptions = response;
          if (response.length == 1) {
            this.search.customer = response[0].id_;
            this.getDatas(
              this.paging.size,
              this.paging.page,
              this.paging.fotoStatus,
              this.paging.isPrint
            );
          }
        });
    },
    onChangeCustomer() {
      this.getDatas(
        this.paging.size,
        this.paging.page,
        this.paging.fotoStatus,
        this.paging.isPrint
      );
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
      this.getPipeline();
    },
    getDatas(size, page) {
      let search = [];
      search.push({ field: "customerId", key: "5f68412888aceef12a69e34f" });
      search.push({ field: "pipelineProcessId", key: this.search.pipeline });

      if (this.number) {
        search.push({
          field: "number",
          key: this.number,
        });
      }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
            "?photoStatus=" +
            0 +
            "&isPrint=" +
            1 +
            "&size=" +
            size +
            "&page=" +
            page +
            "&sort=kelasDetail" +
            "&dir=1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
  },

  //   var fruits = 'apple orange pear banana raspberry peach';
  // var ar = fruits.split(' '); // split string on comma space
  // if (ar.length > 3) {
  //   ar.length = 3;
  // }

  // console.log( ar );
};
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  font-family: Ubuntu;
  right: 58px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
  border: 22px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  bottom: 70px;
  left: 32px;
  width: 313px;
}

.nama {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0rem;
  line-height: 27px;
}

.nama_alter {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0rem;
  line-height: 18px;
}

.number {
  font-weight: bold;
  font-size: 20px;
}

.numberx {
  font-weight: normal;
}

.avatar2 {
  width: 141px;
  position: absolute;
  z-index: -1;
  top: 64px;
  right: 4px;
}
</style>
