<template>
  <div>
    <div v-for="data in datas" :key="data._id">
      <div class="customCardFront">
        <img
          src="./kartutemp/khalifah/blkg.png"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "blank",
  data() {
    return {
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      tags: [],
      datas: [],
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
        fotoStatus: 0,
      },
    };
  },
  beforeMount() {
    var customerId = this.$store.state.customer.customerId;
    // this.$store.state.user.user.activeCompany;
    if (customerId != "") {
      this.search.customer = customerId;
    }
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );
    this.getCustomer();
  },
  methods: {
    getCustomer() {
      this.$axios
        .$get("main_b/pelanggan/get_combo_pelanggan")
        .then((response) => {
          console.log(response);
          this.customerOptions = response;
          if (response.length == 1) {
            this.search.customer = response[0].id_;
            this.getDatas(
              this.paging.size,
              this.paging.page,
              this.paging.fotoStatus,
              this.paging.isPrint
            );
          }
        });
    },
    onChangeCustomer() {
      this.getDatas(
        this.paging.size,
        this.paging.page,
        this.paging.fotoStatus,
        this.paging.isPrint
      );
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
      this.getPipeline();
    },
    getDatas(size, page) {
      let search = [];
      search.push({ field: "customerId", key: "5fa4b4c05ea0d908758739f3" });
      search.push({ field: "pipelineProcessId", key: this.search.pipeline });

      if (this.number) {
        search.push({
          field: "number",
          key: this.number,
        });
      }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
            "?photoStatus=" +
            0 +
            "&isPrint=" +
            1 +
            "&size=" +
            size +
            "&page=" +
            page +
            "&sort=kelasDetail" +
            "&dir=1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
  },

  //   var fruits = 'apple orange pear banana raspberry peach';
  // var ar = fruits.split(' '); // split string on comma space
  // if (ar.length > 3) {
  //   ar.length = 3;
  // }

  // console.log( ar );
};
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.customCardFront .nama2 {
  display: block;
  position: absolute;
  color: black;
  font-size: 14px;
  font-weight: bold;
  top: 101px;
  right: -164px;
}

.info {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 89px;
  font-family: Open Sans;
  z-index: 1;
  font-size: 11px;
  text-align: left;
  border: 22px;
  color: black;
  font-weight: bold;
  line-height: 1.6;
  width: 488.573px;
  text-transform: uppercase;
  left: 172px;
}

.info2 {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 140px;
  font-family: Open Sans;
  z-index: 1;
  font-size: 11px;
  text-align: left;
  border: 22px;
  color: black;
  font-weight: bold;
  line-height: 1.6;
  width: 488.573px;
  text-transform: uppercase;
  left: 269px;
}

.info3 {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 140px;
  font-family: Open Sans;
  z-index: 1;
  font-size: 11px;
  text-align: left;
  border: 22px;
  color: black;
  font-weight: bold;
  line-height: 1.6;
  width: 488.573px;
  /* text-transform: uppercase; */
  left: 172px;
}

.nama {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -7px;
}

.nama_alter {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: -1px;
  width: 234px;
  line-height: 16px;
  /* width: 234px;
  line-height: 16px; */
}

.number {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -1px;
}

.ttl {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -1px;
}

.agama {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -3px;
}

.alamat {
  font-weight: bold;
  font-size: 13px;
  width: 203px;
  line-height: 12px;
  margin-top: 4px;
}

.alamat_alter {
  font-weight: bold;
  font-size: 10px;
  width: 203px;
  line-height: 12px;
  margin-top: 4px;
}

.avatar {
  width: 118px;
  position: absolute;
  z-index: -1;
  top: 104px;
  left: 30px;
  height: auto;
}
</style>
