<template>
  <div>
    <div v-for="data in datas" :key="data._id">
      <div class="customCardFront">
        <img
          src="./kartutemp/salam/blkg.png"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "blank",
  data() {
    return {
      tags: [],
      datas: [],
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 1,
        perPageOptions: [5, 10, 25, 50],
        fotoStatus: 0,
      },
    };
  },
  beforeMount() {
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );
  },
  methods: {
    getDatas(size, page) {
      let search = [];
      if (this.number) {
        search.push({
          field: "number",
          key: this.number,
        });
      }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
            "?photoStatus=" +
            0 +
            "&isPrint=" +
            1 +
            "&size=" +
            size +
            "&page=" +
            page +
            "&sort=kelasDetail" +
            "&dir=1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
  },
};
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 145px;
  font-family: Ubuntu;
  z-index: 1;
  font-size: 11px;
  text-align: left;
  border: 22px;
  color: black;
  font-weight: bold;
  line-height: 1.6;
  width: 488.573px;
  text-transform: uppercase;
  left: 246px;
}

.nama {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -1px;
}

.nama_alter {
  font-size: 10px;
  font-weight: bold;
  padding-top: 2px;
  margin-bottom: 1px;
}

.ttl {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -1px;
}

.agama {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -3px;
}

.alamat {
  font-weight: bold;
  font-size: 13px;
  width: 203px;
  line-height: 12px;
  margin-top: 4px;
}

.alamat_alter {
  font-weight: bold;
  font-size: 10px;
  width: 203px;
  line-height: 12px;
  margin-top: 4px;
}


.avatar {
  width: 143px;
  position: absolute;
  z-index: -1;
  top: 114px;
  left: 19px;
  height: auto;
}
</style>
