<template>
  <div>
    <div v-for="data in datas" :key="data._id">
      <div class="customCardFront">
        <img
          src="./kartutemp/syafii/blkg.png"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "blank",
  data() {
    return {
      tags: [],
      datas: [],
      paging: {
        size: 81,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
        fotoStatus: 0,
      },
    };
  },
  beforeMount() {
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );
    this.$axios.$get(`main_d/member_temp/get_tag/tags`).then((response) => {
      this.getTags = response;
      console.log(response);
    });
  },
  methods: {
    getDatas(size, page) {
      let search = [];
      if (this.number) {
        search.push({
          field: "number",
          key: this.number,
        });
      }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
            "?photoStatus=" +
            0 +
            "&isPrint=" +
            1 +
            "&size=" +
            size +
            "&page=" +
            page +
            "&sort=name" +
            "&dir=1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
  },
};
</script>

<style>
.customCardFront {
  height: 488.573px;
  width: 310px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 16px;
  font-family: Ubuntu;
  /* right: 58px; */
  z-index: 1;
  font-size: 15px;
  text-align: center;
  border: 22px;
  color: black;
  /* font-weight: bold; */
  line-height: 1.6;
  width: 310px;
  text-transform: uppercase;
}

.nama {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
}

.nama_alter {
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: bold;
}

.idcard {
  margin-bottom: -6px;
  /* font-weight: bold; */
  margin-top: -6px;
}


.ket {
  margin-top: -6px;
  font-size: 15px;
}


.alamat {
  font-weight: bold;
  font-size: 13px;
}

.alamat_alter {
  font-size: 11px;
  font-weight: bold;
}

.ttl {
  font-size: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.ttl_alter {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 15px;
}

.avatar {
  width: 120px;
  position: absolute;
  z-index: -1;
  top: 123px;
  left: 98px;
  height: auto;
}
</style>
