<template>
<div>
  <div v-for="data in datas" :key="data.number">
    <div class="customCardFront">
      <img src="./kartutemp/ukuwah/newsmp.png" width="100%" height="100%" />
      <div>
        <img
          :src="`https://api.katalis.info/main_d/image_temp/get/${data.photoUrl}/pas`"
          class="avatar"
          alt=""
          />
      </div>
      <div class="info">
        <div v-if="data.name.length < 23">
          <p class="nama">{{ data.name }}</p>
        </div>
        <div v-else>
          <p class="nama_alter">{{ data.name }}</p>
        </div>

        <p class="idcard">{{ data.number }}</p>

        <div v-if="data.dateOfBirth.length < 28">
          <p class="ttl">{{ data.placeOfBirth }}, {{ data.dateOfBirth | moment("D MMMM YYYY")}}</p>
        </div>
        <div v-else>
          <p class="ttl_alter">
            {{ data.placeOfBirth }}, {{ data.dateOfBirth  | moment("D MMMM YYYY")}}
          </p>
        </div>

        <div v-if="data.address.length < 50">
          <p class="alamat">{{ data.address }}</p>
        </div>
        <div v-else>
          <p class="alamat_alter">{{ data.address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>


<script>
export default {
    layout: "blank",
    data() {
        return {
            datas: [],
            paging: {
                size: 84,
                totalElements: 0,
                totalPages: 0,
                page: 0,
                perPageOptions: [5, 10, 25, 50],
                fotoStatus: 0,
            },
        };
    },
    beforeMount() {
        this.getDatas(
            this.paging.size,
            this.paging.page,
            this.paging.fotoStatus,
            this.paging.isPrint
        );
    },
    methods: {
        getDatas(size, page) {
            this.$axios
                .$post(
                    `main_d/member_temp/get_member_temp` +
                        "?photoStatus=" +
                        0 +
                        "&isPrint=" +
                        2 +
                        "&size=" +
                        size +
          "&page=" +
          page +
          "&sort=name" +
          "&dir=1",
          { search: [] }
          )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
      },

    },
  };
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  /* width: 488.573px; */
  top: 82px;
  font-family: Ubuntu;
  right: 58px;
  z-index: 1;
  font-size: 15px;
  text-align: right;
  border: 22px;
  color: white;
  font-weight: bold;
  line-height: 1.6;
  width: 246px;
  text-transform: uppercase;
}

.nama {
  margin-bottom: 10px;
  font-weight: bold;
}

.nama_alter {
  font-size: 11px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: bold;
}

.idcard {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.alamat {
  font-weight: bold;
  font-size: 13px;
}

.alamat_alter {
  font-size: 11px;
  font-weight: bold;
}

.ttl {
  font-size: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.ttl_alter {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 15px;
}

.avatar {
  width: 150px;
  position: absolute;
  z-index: -1;
  top: 115px;
  left: 29px;
  height: auto;
}
</style>
