<template>
  <div>
    <div v-for="data in datas" :key="data._id">
      <div class="customCardFront">
        <img
          src="./kartutemp/ukuwah/blkg.png"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    layout: "blank",
    data() {
      return {
        datas: [],
        paging: {
          size: 84,
          totalElements: 0,
          totalPages: 0,
          page: 0,
          perPageOptions: [5, 10, 25, 50],
          fotoStatus: 0,
        },
      };
    },
    beforeMount() {
      this.getDatas(
        this.paging.size,
        this.paging.page,
        this.paging.fotoStatus,
        this.paging.isPrint
        );
    },
    methods: {
      getDatas(size, page) {
        this.$axios
        .$post(
          `main_d/member_temp/get_member_temp` +
          "?photoStatus=" +
          0 +
          "&isPrint=" +
          2 +
          "&size=" +
          size +
          "&page=" +
          page +
          "&sort=name" +
          "&dir=1",
          { search: [] }
          )
        .then((response) => {
          this.datas = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
      },

    },
  };
</script>

<style>
.customCardFront {
  height: 310px;
  width: 488.573px;
  float: left;
  margin: 5px 5.67px;
  position: relative;
}

.info {
  display: block;
  position: absolute;
  font-family: Ubuntu;
  right: 58px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
  border: 22px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  bottom: 70px;
  left: 32px;
  width: 313px;
}

.nama {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0rem;
  line-height: 27px;
}

.nama_alter {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0rem;
  line-height: 18px;
}

.number {
  font-weight: bold;
  font-size: 20px;
}

.numberx {
  font-weight: normal;
}

.avatar2 {
  width: 141px;
  position: absolute;
  z-index: -1;
  top: 64px;
  right: 4px;
}
</style>
