<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Preview Member</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right"></div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <div
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <!-- <div> -->
          <!--   <el-select -->
          <!--       class="select-primary pagination-select" -->
          <!--       v-model="paging.size" -->
          <!--       placeholder="Per page" -->
          <!--       @change="changePageSize()" -->
          <!--     > -->
          <!--       <el-option -->
          <!--         class="select-primary" -->
          <!--         v-for="item in paging.perPageOptions" -->
          <!--         :key="item" -->
          <!--         :label="item" -->
          <!--         :value="item" -->
          <!--       ></el-option> -->
          <!--     </el-select> -->
          <!-- </div> -->
          <base-input>
            <el-select
              v-model="search.customer"
              filterable
              clearable
              placeholder="Pilih Customer terlebih dahulu"
              @change="onChangeCustomer()"
            >
              <el-option
                v-for="option in customerOptions"
                :key="option.id_"
                :label="option.perusahaanName"
                :value="option.id_"
              ></el-option>
            </el-select>
          </base-input>
          <el-select
            class="select-primary pagination-select multimb mb--30"
            v-model="paging.fotoStatus"
            placeholder="pilih Status Foto"
            @change="changePageSize(e)"
          >
            <el-option
              class="select-primary"
              v-for="item in this.paging.perstatusFoto"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>

          <el-select
            class="select-primary pagination-select multimb mb--30"
            v-model="paging.isPrint"
            placeholder="pilih Status Print"
            @change="changePageSize(e)"
          >
            <el-option
              class="select-primary"
              v-for="item in this.paging.perisPrint"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>

          <el-select
            v-model="tags"
            multiple
            filterable
            placeholder="Pilih Tags"
            @change="changePageSize()"
          >
            <el-option
              v-for="item in getTags"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>

          <!-- searching -->
          <div>
            <base-input
              v-model="number"
              prepend-icon="fas fa-search"
              placeholder="Cari Number Disini ..."
              v-on:keyup="changePageSize(e)"
            >
            </base-input>
          </div>
          <base-button class="btn btn-neutral btn-sm" @click="findId()">
            change is Print
          </base-button>
        </div>
      </div>

      <div class="row card-wrapper">
        <!-- batas card -->
        <div class="col-lg-6" v-for="data in datas" :key="data._id">
          <card class="tinggiCard">
            <!-- Card body -->
            <div class="row align-items-center">
              <div class="col-auto">
                <a class="avatar avatar-xl avatar2">
                  <img
                    class="fotoUkuran"
                    alt=""
                    :src="
                      data.photoUrl || data.photoUrl != ''
                        ? `${$axios.defaults.baseURL}main_base/image/get/${data.photoUrl}/pas`
                        : `${$axios.defaults.baseURL}main_base/image/get/nophoto/pas`
                    "
                  />
                </a>
                <base-button
                  type="primary"
                  class="btn btn-sm col mt-2 mr--7"
                  @click="modals.editUploadFoto = true"
                  block
                >
                  Upload Foto
                </base-button>
              </div>
              <div class="col ml--2">
                <h4 class="mb-0 mt--3">
                  {{ data.name }}
                </h4>
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>Tgl upload : </b> {{ data.createTime }}
                </p>
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>Tgl update : </b> {{ data.updateTime }}
                </p>
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>NIS : </b> {{ data.number }}
                </p>
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>TTL : </b>{{ data.placeOfBirth }},
                  {{ data.dateOfBirth | moment("DD MMMM YYYY") }}
                </p>
                <!--  <p class="text-sm text-muted mb-0 fontUbah">
                    <b>Alamat : </b>{{ data.address }}
              </p> -->
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>Tags : </b>{{ data.tags }}
                </p>
                <p class="text-sm text-muted mb-0 fontUbah">
                  <b>Belum Ter Cetak : </b>{{ data.isPrint }}
                </p>
              </div>

              <div class="col-auto">
                <base-button type="warning" size="sm" @click="pilihId(data)">
                  Edit
                </base-button>
              </div>
            </div>
          </card>
        </div>
        <div>
          <modal :show.sync="modals.classic">
            <h6 slot="header" class="modal-title">Edit Data Kartu</h6>
            <div class="row align-items-center">
              <div class="col-auto">
                <a class="avatar avatar-xl avatar2">
                  <img
                    class="fotoUkuran"
                    alt=""
                    :src="`https://api.katalis.info/main_d/image_temp/get/${datakartu.photoUrl}/pas`"
                  />
                </a>
              </div>
              <div class="col ml--2">
                <form class="boldfont" @submit.prevent="editData()">
                  <base-switch v-model="datakartu.isPrint"></base-switch>
                  <base-input v-model="datakartu.name"></base-input>
                  <base-input v-model="datakartu.number"></base-input>
                  <base-input v-model="datakartu.placeOfBirth"></base-input>
                  <tags-input v-model="datakartu.tags"></tags-input>
                  <br />
                  <!-- <base-input input-group-classes="input-group-merge "
                     ><date-picker
                     v-model="datakartu.dateOfBirth"
                     bootstrap-styling="true"
                     ></date-picker
                     ></base-input> -->
                  <!-- <base-input input-group-classes="input-group-merge" type="date"> -->
                  <!--   <flat-pickr -->
                  <!--     v-model="datakartu.dateOfBirth" -->
                  <!--     :config="config" -->
                  <!--     class="from-control" -->
                  <!--     ></flat-pickr> -->
                  <!-- </base-input> -->

                  <base-input
                    input-group-classes="input-group-merge"
                    type="date"
                    v-model="datakartu.dateOfBirth"
                  >
                  </base-input>

                  <base-input input-group-classes="input-group-merge">
                    <textarea
                      class="form-control"
                      aria-label="With textarea"
                      v-model="datakartu.address"
                    ></textarea>
                  </base-input>
                  <base-button type="primary" native-type="submit"
                    >Save</base-button
                  >
                  <base-button
                    type="danger"
                    class="ml-auto"
                    @click="modals.classic = false"
                    >Batal</base-button
                  >
                </form>
              </div>
            </div>
            <template slot="footer"> </template>
          </modal>
          <modal :show.sync="modals.editUploadFoto">
            <h6 slot="header" class="modal-title">Upload Foto</h6>
            <form>
              <file-input
                ref="files"
                id="file"
                type="file"
                @change="filesChangeImage()"
              ></file-input>
            </form>

            <template slot="footer">
              <base-button type="primary" @click="postFoto()"
                >Upload</base-button
              >
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.editUploadFoto = false"
                >Batal</base-button
              >
            </template>
          </modal>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  v-if="Math.abs(item - paging.page) <= 2"
                  class="page-link"
                  @click="changePage(item)"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Modal from "@/components/argon-core/Modal.vue";
import { Table, TableColumn, Select, Option } from "element-ui";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import Multiselect from "vue-multiselect";
import moment from "moment";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import { Indonesian } from "flatpickr/dist/l10n/id.js";
import FileInput from "@/components/argon-core/Inputs/FileInput";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Modal,
    FileInput,
    BasePagination,
    [Select.name]: Select,
    [Option.name]: Option,
    Multiselect,
    TagsInput,
    flatPickr,
  },
  data() {
    return {
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      datakartu: {
        // number: "",
        name: "",
        number: "",
        placeOfBirth: "",
        dateOfBirth: "",
        address: "",
        id_: "",
        tags: [],
      },
      tags: [],
      number: null,
      name: null,
      infokartu: [],
      datas: [],
      files: "",
      modals: {
        classic: false,
        editUploadFoto: false,
      },
      selectedRows: [],
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        fotoStatus: 0,
        perstatusFoto: [
          { value: 0, label: "semua" },
          { value: 1, label: "ada foto" },
          { value: 2, label: "tidak ada foto" },
        ],
        isPrint: 0,
        perisPrint: [
          { value: 0, label: "semua" },
          { value: 1, label: "Belum Ter Cetak" },
          { value: 2, label: "Sudah Di Cetak" },
        ],
      },
      // bootstrapStyling: "",
      selected: "",
      config: {
        dateFormat: "d-m-Y",
        locale: Indonesian,
        // altFormat: 'j M Y',
        // altInput: true,
      },
    };
  },
  beforeMount() {
    var customerId = this.$store.state.customer.customerId;
    // this.$store.state.user.user.activeCompany;
    if (customerId != "") {
      this.search.customer = customerId;
    }
    this.getDatas(
      this.paging.size,
      this.paging.page,
      this.paging.fotoStatus,
      this.paging.isPrint
    );

    this.getCustomer();
      // this.getPipeline();

      // this.$axios.$get(`main_base/member_temp/get_tag/tags`).then((response) => {
      //   this.getTags = response;
      //   console.log(response);
      // });
  },

  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
    totalHalaman() {
      return this.paging.totalElements / this.paging.size;
    },
  },
  methods: {
    async editData() {
        delete this.datakartu.companyId;
        delete this.datakartu.customerId;
      delete this.datakartu.createTime;
      delete this.datakartu.creatorId;
      delete this.datakartu.creatorName;
      delete this.datakartu.updateTime;
      // delete this.datakartu.dateOfBirth;
      // const tanggalkartu = this.datakartu.dateOfBirth.split('-')
      // this.datakartu.dateOfBirth = [tanggalkartu[2],tanggalkartu[1],tanggalkartu[0]].join("-")
      // console.log(this.datakartu.dateOfBirth)
      this.$axios
        .$put(
          `main_base/member_temp/member_temp/${this.datakartu.id_}`,
          this.datakartu
        )
        .then((response) => {
          swal.fire({
            title: `Success`,
            text: "Changes has been saved successfully",
            buttonsStyling: false,
            confirmButtonClass: "btn btn-success",
            type: "success",
          });
          (this.modals.classic = false), this.$router.push("/kartu");
        })
        .catch((e) => {});
    },
    pilihId(data) {
      this.modals.classic = !this.modals.classic;
      data.dateOfBirth = moment(data.dateOfBirth).format("YYYY-MM-DD");
      this.datakartu = data;
    },

    getDatas(size, page, photoStatus = "", isPrint = "") {
      let search = [];
        // search.push({ field: "customerId", key: this.search.customer });
        // search.push({ field: "pipelineProcessId", key: this.search.pipeline });
      if (this.number) {
        search.push({
          field: "number",
          key: this.number,
        });
      }

      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(
          `main_base/member_temp/get_by_pelanggan/` + this.search.customer +
            "?photoStatus=" +
            this.paging.fotoStatus +
            "&isPrint=" +
            this.paging.isPrint +
            "&size=" +
            size +
            "&page=" +
            page +
            "&sort=createTime" +
            "&dir=-1",
          { search, tagSearch }
        )
        .then((response) => {
          this.datas = response.content;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    getCustomer() {
      this.$axios
        .$get("main_base/pelanggan/get_combo_pelanggan")
        .then((response) => {
          console.log(response);
            this.customerOptions = response.map((resp) => {
                return { ...resp, id_: resp.idAkun  };
            })
            if (response.length == 1) {
            this.search.customer = response[0].idAkun;
            this.getDatas(
              this.paging.size,
              this.paging.page,
              this.paging.fotoStatus,
              this.paging.isPrint
            );
          }
        });
    },

      // getPipeline() {
      //   this.$axios
      //     .$get("main_base/pelanggan/get_combo_pipeline/" + this.search.customer)
      //     .then((response) => {
      //       this.pipelineOptions = response;
      //       console.log(response);
      //     });
      // },
    onChangeCustomer() {
      this.getDatas(
        this.paging.size,
        this.paging.page,
        this.paging.fotoStatus,
        this.paging.isPrint
      );
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
        // this.getPipeline();
    },

    filesChangeImage() {
      // this.inputs.file = files;
      this.files = this.$refs.files.files;
      //  let uploadedFiles = this.$refs.files.files;
      //    for( var i = 0; i < uploadedFiles.length; i++ ){
      //       this.files.push( uploadedFiles[i])}
      //
      // this.files = event.target.files
    },

    async postFoto() {
      const formData = new FormData();
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files", file);
      }
      await this.$axios
        .$post(`/main_d/image_temp/by_bulk_uploadpasphoto/number`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          swal.fire({
            title: `Success`,
            text: "Changes has been saved successfully",
            buttonsStyling: false,
            confirmButtonClass: "btn btn-success",
            type: "success",
          });
          // console.log();
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch(() => {
          // console.log();
          swal.fire({
            title: "Failed Upload!",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
    findId() {
      this.datas.filter((prop) => {
        if (prop.isPrint) {
          console.log(prop.id_);
          prop.isPrint = false;
            delete prop.companyId;
            delete prop.customerId;
          delete prop.createTime;
          delete prop.creatorId;
          delete prop.creatorName;
          delete prop.dateOfBirth;
            delete prop.updateTime;
            delete prop.pipelineProcessId;
          this.$axios
            .$put(`main_d/member_temp/member_temp/${prop.id_}`, prop)
            .then((response) => {
              swal.fire({
                title: `Success`,
                text: "Changes has been saved successfully",
                buttonsStyling: false,
                confirmButtonClass: "btn btn-success",
                type: "success",
              });
              // (this.modals.classic = false), this.$router.push("/kartu");
            })
            .catch((e) => {});
        }
      });
    },
    // end method
  },
};
</script>

<style>
.multimb {
  margin-bottom: 30px;
}

.avatar2 {
  width: 100px;
  /* height: 130px; */
}
.tinggiCard {
  height: 230px;
}
.fotoUkuran {
  width: 100px;
  height: 110px;
  margin-top: 10px;
}
.fontUbah {
  font-weight: 400;
  color: black;
}
</style>
