<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Master</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/kartu" class="btn btn-neutral btn-sm">New</nuxt-link>

          <base-button
            class="btn btn-neutral btn-sm"
            @click="modals.classic = true"
          >
            Import Excel
          </base-button>

          <!--Classic modal-->
          <modal :show.sync="modals.classic">
            <h6 slot="header" class="modal-title">
              Upload File Excel Data Anda
            </h6>
            <form>
              <file-input
                ref="file"
                id="file"
                type="file"
                @change="filesChange()"
              ></file-input>
            </form>

            <template slot="footer">
              <base-button type="primary" @click="postFileExcel()"
                >Upload</base-button
              >
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.classic = false"
                >Batal</base-button
              >
            </template>
          </modal>

          <base-button
            class="btn btn-neutral btn-sm"
            @click="modals.foto = true"
          >
            Upload Foto
          </base-button>

          <!--Classic modal-->
          <modal :show.sync="modals.foto">
            <h6 slot="header" class="modal-title">Upload Seluruh Data Foto</h6>
            <form>
              <file-input
                ref="files"
                id="files"
                type="file"
                @change="filesChangeImage()"
                multiple
              ></file-input>
            </form>

            <template slot="footer">
              <base-button type="primary" @click="postFoto2()"
                >Upload</base-button
              >
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.foto = false"
                >Batal</base-button
              >
            </template>
          </modal>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Member</h3>
            <p class="text-sm mb-0">Management page for Data Member</p>
          </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>

              <!-- searching -->
              <div>
                <base-input
                  v-model="searchQuery"
                  prepend-icon="fas fa-search"
                  placeholder="Cari Disini ..."
                >
                </base-input>
              </div>
            </div>

            <el-table
              :data="tableData"
              row-key="id"
              header-row-class-name="thead-light"
            >
              <!-- @sort-change="sortChange" -->
              <!-- @selection-change="selectionChange" -->

              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              ></el-table-column>

              <el-table-column min-width="200px" align="center" label="Actions">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <nuxt-link
                    :to="{
                      name: 'crm_member_temp-edit',
                      params: { id: row.id_ },
                    }"
                  >
                    <el-tooltip content="Edit" placement="top">
                      <base-button size="sm" type="warning">
                        <i class="text-white ni ni-ruler-pencil"></i>
                      </base-button>
                    </el-tooltip> </nuxt-link
                  >&nbsp;&nbsp;

                  <el-tooltip content="Delete" placement="top">
                    <base-button
                      @click.native="handleDelete($index, row)"
                      size="sm"
                      type="danger"
                      class="remove btn-link"
                    >
                      <i class="text-white ni ni-fat-remove"></i>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{ item }}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "~/components/tables/users2";
import FileInput from "@/components/argon-core/Inputs/FileInput";

export default {
  mixins: [clientPaginationMixin],
  // layout: "DashboardLayout",
  components: {
    FileInput,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      files: "",
      file: "",
      modals: {
        classic: false,
        foto: false,
      },
      memberTempData: [],
      propsToSearch: ["name"],
      tableColumns: [
        {
          prop: "name",
          label: "Nama",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "number",
          label: "NIS",
          minWidth: 130,
          sortable: true,
        },
        {
          prop: "address",
          label: "Alamat",
          minWidth: 190,
          sortable: true,
        },
        {
          prop: "gender",
          label: "Jenis Kelamin",
          minWidth: 190,
          sortable: true,
        },
        {
          prop: "tags",
          label: "Tags",
          minWidth: 160,
          sortable: true,
        },
      ],
      tableData: [],
      tableInfo: {},
      selectedRows: [],
      url: "main_d/member_temp/get_member_temp",
      paging: {
        size: 84,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search: [] })
        // .$get(this.url + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          // this.tableData = response;
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    filesChange() {
      // this.inputs.file = files;
      this.file = this.$refs.file.files[0];
    },

    filesChangeImage() {
      // this.inputs.file = files;
      this.files = this.$refs.files.files;
      //  let uploadedFiles = this.$refs.files.files;
      //    for( var i = 0; i < uploadedFiles.length; i++ ){
      //       this.files.push( uploadedFiles[i])}
      //
      // this.files = event.target.files
    },

    postFileExcel() {
      let formData = new FormData();
      formData.append("file", this.file);
      this.$axios
        .$post(`/main_d/member_temp/upload_member_temp`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            "Access-Control-Allow-Origin": "*",
          },
        })
        .then((response) => {
          swal.fire({
            title: `Sukses Upload`,
            buttonsStyling: false,
            confirmButtonClass: "btn btn-info btn-fill",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.file = "";
        })
        .catch((error) => {
          swal.fire({
            title: "Failed Upload!",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },

    async postFoto() {
      const formData = new FormData();
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files", file);
      }
      await this.$axios
        .$post(`/main_d/image_temp/by_bulk_uploadpasphoto/number`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          console.log();
          // this.getDatas(this.serverParams.size, this.serverParams.page);
        })
        .catch(() => {
          console.log();
          // swal.fire({
          //   title: "Failed Upload!",
          //   type: "failed",
          //   confirmButtonClass: "btn btn-danger btn-fill",
          //   buttonsStyling: false,
          // });
        });
    },

    async postFoto2() {
      for (var i = 0; i < this.files.length; i++) {
        const formData = new FormData();
        let file = this.files[i];
        formData.append("file", file);
        await this.$axios
          .$post(`/main_d/image_temp/by_uploadpasphoto/number`, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then(() => {
            console.log();
            // this.getDatas(this.serverParams.size, this.serverParams.page);
          })
          .catch(() => {
            console.log();
            // swal.fire({
            //   title: "Failed Upload!",
            //   type: "failed",
            //   confirmButtonClass: "btn btn-danger btn-fill",
            //   buttonsStyling: false,
            // });
          });
      }
    },

    handleLike(index, row) {
      swal({
        title: `You liked ${row.name}`,
        buttonsStyling: false,
        type: "success",
        confirmButtonClass: "btn btn-success btn-fill",
      });
    },

    handleEdit(index, row) {
      console.log(row);
      swal.fire({
        title: `Do you want to edit ${row.name} ?`,
        buttonsStyling: false,
        confirmButtonClass: "btn btn-info btn-fill",
      });
    },

    handleDelete(index, row) {
      swal
        .fire({
          title: "Are you sure ?",
          text: `You won't be able to revert this!`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Yes, delete it!",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },

    deleteRow(row) {
      this.$axios
        .$delete(`main_d/member_temp/member_temp/` + row.id_)
        .then((user) => {
          swal.fire({
            title: "Deleted!",
            text: `${row.name} has been deleted.`,
            type: "success",
            confirmButtonClass: "btn btn-success btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(this.paging.size, this.paging.page);
          
        })

        .catch((error) => {
          swal.fire({
            title: "Delete Failed!",
            text: `Failed deleting ${row.name}`,
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

.fontvue {
  background-color: red;
}
</style>
