<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/company" class="btn btn-neutral btn-sm">Back</nuxt-link>
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>

      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Create Company</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="firstSubmit">
                  <div class="col-md-8">

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Company Name</label>
                      <div class="col-md-9">
                        <base-input
                          name="companyName"
                          placeholder="Company Name"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.companyName"
                        ></base-input>
                      </div>
                    </div>

                     <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Pic Name</label>
                      <div class="col-md-9">
                        <base-input
                          name="picName"
                          placeholder="PIC Name"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.picName"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Pic Email</label>
                      <div class="col-md-9">
                        <base-input
                          name="picEmail"
                          placeholder="PIC Email"
                          success-message="Looks good!"
                          :rules="{required: true, email: true}"
                          v-model="form.picEmail"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Solution</label>
                      <div class="col-md-9">
                        <base-input>
                          <el-select
                            v-model="form.solution"
                            multiple
                            filterable
                            placeholder="Multiple select"
                          >
                            <el-option
                              v-for="option in solutionOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Tags</label>
                      <div class="col-md-9">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                    </div>


                  </div>
                  <base-button type="primary" native-type="submit">Save</base-button>
                  <nuxt-link class="btn btn-warning" to="/company">Cancel</nuxt-link>
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  name: "companyForm",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
        solutionOptions: [
        {
          label: "CRM",
          value: "CRM",
        },
        {
          label: "QUEUE",
          value: "QUEUE",
        },
        {
          label: "ATTENDANCE",
          value: "ATTENDANCE",
        },
        {
          label: "ACCESS",
          value: "ACCESS",
        },
        {
          label: "HRD",
          value: "HRD",
        },
        {
          label: "DOCUMENT",
          value: "DOCUMENT",
        },
        {
          label: "ASSET",
          value: "ASSET",
        },
        {
          label: "SERVICES",
          value: "SERVICES",
        },
        {
          label: "TICKET",
          value: "TICKET",
        },
        {
          label: "STORE",
          value: "STORE",
        },
        {
          label: "REGISTRATION",
          value: "REGISTRATION",
        },
        {
          label: "ACADEMIC",
          value: "ACADEMIC",
        },
        {
          label: "LIBRARY",
          value: "LIBRARY",
        },
        {
          label: "LANDING",
          value: "LANDING",
        },
        
      ],

      validated: false,
      form: {
        companyName: "",
        picName: "",
        picEmail: "",
        solution: [],
        tags: [],
      },
      doSubmit: true
    };
  },
  beforeMount() {
      window.addEventListener("keypress", (e) => {
        if (e.keyCode == 13) {
          this.doSubmit == false;
          e.preventDefault();
          return false;
        }
      })
  },
  methods: {
    async firstSubmit() {
      if(this.doSubmit){
          this.$refs.form.validate().then((success) => {
            if (!success) {
              return; 
            }

            this.$axios
              .$post(`main_a/company/company`, this.form)
              .then((response) => {
                swal.fire({
                  title: `Saved`,
                  text: "Your work has been saved",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-success",
                  type: "success",
                });
                this.$router.push("/company");
              })
              .catch((e) => {});
          });
      }
    },
  },
};
</script>
