<template>
  <div class="content">

    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Master</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/company/add" class="btn btn-neutral btn-sm">New</nuxt-link>
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Company</h3>
            <p class="text-sm mb-0">Management page for Data Company </p>
          </template>

            <!-- Start Table -->
            <vue-good-table
              :columns="columns"
              :rows="rows"
              :totalRows="totalRecords"

              mode="remote"
              @on-page-change="onPageChange"
              @on-sort-change="onSortChange"
              @on-column-filter="onColumnFilter"
              @on-per-page-change="onPerPageChange"

             
              compactMode

              :isLoading.sync="isLoading"
              :pagination-options="{
                  enabled: true,
                  mode: 'records', //mode records or pages
              }"

              styleClass="vgt-table condensed"

              :search-options="{
                enabled: false,
              }"
              
              :line-numbers="true">

              <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                 
                  <nuxt-link :to="{name: 'company-edit', params: {id: props.row.id_}}">

                    <el-tooltip content="Edit" placement="top">
                      <base-button
                        size="sm" 
                        type="warning"
                      >
                        <i class="text-white ni ni-ruler-pencil"></i>
                      </base-button>
                    </el-tooltip>
                  </nuxt-link> &nbsp;&nbsp;

                  <el-tooltip content="Delete" placement="top">
                    <base-button 
                      @click="handleDelete(props)"
                      size="sm" 
                      type="danger" 
                      class="remove btn-link"
                    >
                      <i class="text-white ni ni-fat-remove"></i>
                    </base-button>
                  </el-tooltip>
                </span>
              </template> 

              <template
              slot="table-column"
              slot-scope="props"
            >
              <slot
                name="table-column"
                :column="props.column"
              >
                <span>{{props.column.label}}</span>
              </slot>
            </template>
            
            </vue-good-table>
            <!-- End Table -->
         

        </card>
      </div>
    </div>

  </div>
</template>

<script>


import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";

export default {
  name: 'my-component',
  data() {
    return {
        searchTerm: '',
        isLoading: false,
        columns: [
            {
                label: 'Company',
                field: 'companyName',
                filterOptions: {
                    enabled: true, // enable filter for this column
                    placeholder: "Filter Name", // placeholder for filter input
                    filterValue: "", // initial populated value for this filter
                    filterDropdownItems: [], // dropdown (with selected values) instead of text input
                    filterFn: this.columnFilterFn, //custom filter function that
                    trigger: "enter" //only trigger on enter not on keyup
                },
                
            },
            {
                label: 'Nama PIC',
                field: 'picName',
            },
            {
                label: 'Email PIC',
                field: 'picEmail',
            },
            {
                label: 'Solution',
                field: 'solution',
            },
            {
                label: 'Action',
                field: 'action',
                width: '113px',
            },
            
        ],
        rows: [],
        totalRecords: 0,
        serverParams: {
            columnFilter: {
            },
            sort: {
              field: 'name', // example: 'name'
                type: 'asc', // 'asc' or 'desc'
              },
            page: 0, 
            perPage: 10,
        }
    }; 
  },

  beforeMount() {
    this.getDatas(this.serverParams.perPage, this.serverParams.page);
  },

  methods: {
    getDatas(size, page) {
      this.$axios
        .$post("main_a/company/get_company" + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          this.rows = response.content;
          this.totalRecords = response.totalElements;
          this.serverParams.page = page;
          this.serverParams.perPage = size;
          this.serverParams.q = response.search; 
        });
    },

    handleDelete(props) {
      swal.fire({
          title: "Are you sure ?",
          text: `Delete ${props.row.companyName}`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Yes, delete it!",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(props);
          }
        });
    },

    deleteRow(props) {
      this.$axios
        .$delete(`main_a/company/company/` + props.row.id_)
        .then((user) => {
          swal.fire({
            title: "Deleted!",
            text: `${props.row.companyName} has been deleted.`,
            type: "success",
            confirmButtonClass: "btn btn-success btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(this.serverParams.perPage, this.serverParams.page);
        })

        .catch((error) => {
          swal.fire({
            title: "Delete Failed!",
            text: `Failed deleting ${props.row.companyName}`,
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    
    onPageChange(params) {
      this.updateParams({
        page: params.currentPage-1
      });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onPerPageChange(params) {
      this.updateParams({
        perPage: params.currentPerPage
      });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onSortChange(params) {
      console.log(params);
      this.updateParams({
          type: params[0].type,
          field: params[0].field
      });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onColumnFilter(params) {
      this.updateParams({
          ColumnFilter: params.columnFilters
      });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    // onSearch(params) {
    //     this.serverParams.page = 0;
    //     this.updateParams({
    //         q: params.searchTerm
    //     });
    //     this.getDatas(this.serverParams.perPage, this.serverParams.page);
    // },

  },

};
</script>