<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <!-- {{$store.state.user.user.accounts}} -->
      <!-- {{$store.state.user.user.accounts[0].solutions}} -->

      <template slot-scope="props" slot="links">
        <template v-for="item in navItems">
          <!-- {{item.solutions}} -->
          <template v-if="getUserSolution(item.solutions)">
            <template v-if="item.isParent == true">
              <h6
                class="navbar-heading p-0 text-muted pl-3 mt-3"
                v-bind:key="item.key"
              >
                {{ item.name }}
              </h6>
            </template>
          </template>

          <template v-if="getUserSolution(item.solutions)">
            <template v-if="item.child.length == 0">
              <sidebar-item
                :link="{
                  name: item.name,
                  icon: item.icon,
                  path: item.url,
                }"
                v-bind:key="item.key"
              ></sidebar-item>
            </template>

            <template v-else>
              <sidebar-item
                :link="{
                  name: item.name,
                  icon: item.icon,
                }"
                v-bind:key="item.key"
              >
                <template v-for="itemChild in item.child">
                  <sidebar-item
                    :link="{ name: itemChild.name, path: itemChild.url }"
                    v-bind:key="itemChild.key"
                  ></sidebar-item>
                </template>
              </sidebar-item>
            </template>
          </template>
        </template>
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar
        :type="$route.name === 'alternative' ? 'light' : 'default'"
      ></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <nuxt></nuxt>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import nav from "./menu";
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import DashboardNavbar from "~/components/layouts/argon/DashboardNavbar.vue";
import ContentFooter from "~/components/layouts/argon/ContentFooter.vue";
import DashboardContent from "~/components/layouts/argon/Content.vue";

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    DashboardContent,
  },
  data() {
    return {
      navItems: nav.items,
    };
  },
  methods: {
    initScrollbar() {
      let isWindows = navigator.platform.startsWith("Win");
      if (isWindows) {
        initScrollbar("scrollbar-inner");
      }
    },
    getUserSolution(solution) {
      // console.log("============");
      var result = false;
      if (this.$store.state.user.solutions) {
        var solutions = this.$store.state.user.solutions;
        if (solutions.length >0 && solution != "") {
          if (solutions.includes(solution)){
            result = true;
          }else{
            result = false;
          }          
        } else {
          result = true;
        }
      } else {
        result = false;
      }
      // console.log(result);
      // console.log("============");
      return result;
    },
  },
  mounted() {
    this.initScrollbar();
    // console.log(this.navItems);
  },
};
</script>
<style lang="scss">
</style>
