<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-1">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ $route.name }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right"></div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Create Customer</h3>
            <p class="text-sm mb-0">customer</p>
          </template>
          <div>
            <validation-observer ref="form">
              <form class="needs-validation" @submit.prevent="firstFormSubmit">
                <div class="col-md-8">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Nama Pelanggan</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="name"
                        placeholder="Nama Pelanggan"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.name"
                      ></base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Nama Implementator</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="namaImplementator"
                        placeholder="Nama Implementator"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.namaImplementator"
                      ></base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Alamat</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="address"
                        placeholder="Alamat"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.address"
                      ></base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >No Hp</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="phone"
                        placeholder="No Hp"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.phone"
                      ></base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Email</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="email"
                        placeholder="Email"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.email"
                      ></base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Keterangan</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="keterangan"
                        placeholder="Keterangan"
                        success-message="Looks good!"
                        v-model="form.keterangan"
                      ></base-input>
                    </div>
                  </div>
                  <base-button type="primary" native-type="submit"
                    >Save</base-button
                  >
                  <nuxt-link class="btn btn-warning" to="/crm_customer"
                    >Cancel</nuxt-link
                  >
                </div>
              </form>
            </validation-observer>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
export default {
  components: {
    TagsInput,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      form: {
        id: "",
        name: "",
        namaImplementator: "",
        address: "",
        phone: "",
        email: "",
        keterangan: "",
      },
      validated: false,
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
    this.$axios
      .$get(`/main_b/pelanggan/pelanggan/${this.$route.params.id}`)
      .then((response) => {
        this.form.id = response.id;
        this.form.name = response.name;
        this.form.namaImplementator = response.namaImplementator;
        this.form.address = response.address;
        this.form.phone = response.phone;
        this.form.email = response.email;
        this.form.keterangan = response.keterangan;
      })
      .catch((e) => {
        swal.fire({
          title: `Perhation!`,
          text: "Koneksi Gagal",
          buttonsStyling: false,
          confirmButtonClass: "btn btn-warning",
          type: "warning",
        });
        this.$router.push("/crm_customer");
      });
  },
  methods: {
    async firstFormSubmit() {
      if (this.doSubmit) {
        if (this.form.id == "") {
          this.$refs.form.validate().then((success) => {
            if (!success) {
              return;
            }
            this.$axios
              .$post(`/main_b/pelanggan/pelanggan`, this.form)
              .then((response) => {
                swal.fire({
                  title: `Success`,
                  text: "Changes has been saved successfully",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-success",
                  type: "success",
                });
                this.$router.push("/crm_");
              })
              .catch((e) => {});
          });
        } else {
          this.$refs.form.validate().then((success) => {
            if (!success) {
              return;
            }

            this.$axios
              .$put(
                `/main_b/pelanggan/pelanggan/${this.$route.params.id}`,
                this.form
              )
              .then((response) => {
                swal.fire({
                  title: `Success`,
                  text: "Changes has been saved successfully",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-success",
                  type: "success",
                });
                this.$router.push("/crm_customer");
              })
              .catch((e) => {});
          });
        }
      }
    },
  },
};
</script>