<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-1">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="crm_customer/form" class="btn btn-neutral btn-sm">New</nuxt-link>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <h3 class="mb-0">customer</h3>
            <p class="text-sm mb-0">customer</p>
          </template>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-primary pagination-select"
              v-model="paging.size"
              placeholder="Per page"
              @change="changePageSize()"
            >
              <el-option
                class="select-primary"
                v-for="item in paging.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
          </div>
          
          <div style="padding:20px">
            <slot>
            <table class="table table-bordered table-hover-table-stripped thead-light" width="100%">
              <thead>
                <tr>
                  <th width="30px">No</th>
                  <th>Nama</th>
                  <th>Nama Implementator</th>
                  <th width="80px">Alamat</th>
                  <th>No Hp</th>
                  <th>Email</th>
                  <th>Pipeline</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in tableData" :key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.namaImplementator}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.email}}</td>
                  <td>
                    <div>
                      <div v-for="(item2, index2) in item.pipeline" :key="index2">
                        <div class="btn-group btn-sm" role="group" style="float:left">
                          <nuxt-link :to="{name: 'crm_customer-pipeline', params: {id: item.id_, idProcess:item2.idProcess}}" class="btn btn-default btn-sm">
                            {{item2.title}}                            
                          </nuxt-link>
                          <button type="button" class="btn btn-danger btn-sm"><i class="text-white ni ni-fat-delete"></i></button>
                        </div>
                      </div>
                      <div class="btn-group btn-sm" role="group" style="float:left">
                      <base-button
                        @click.native="handleAddPipeline(index, item)"
                        class="remove btn-link"
                        type="success"
                        size="sm"
                        icon
                      >
                        +
                      </base-button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <nuxt-link :to="{name: 'crm_customer-form', params: {id: item.id_}}">
                      <button class="btn btn-warning btn-sm" type="button">
                        <i class="text-white ni ni-ruler-pencil"></i> Edit
                      </button>
                    </nuxt-link>&nbsp;&nbsp;
                    <base-button
                      @click.native="handleDelete(index, item)"
                      class="remove btn-link"
                      type="danger"
                      size="sm"
                      icon
                    >
                      <i class="text-white ni ni-fat-remove"></i> Delete
                    </base-button>
                  </td>
                </tr>
              </tbody>
            </table>
            </slot>
          </div>
          <!-- <el-table :data="tableData" row-key="id" header-row-class-name="thead-light">
            <el-table-column v-for="column in tableColumns" :key="column.label" v-bind="column"></el-table-column>

            <el-table-column align="right" label="Pipeline">
              <div slot-scope="{$index, row}" class="d-flex">
                <div v-for="(item, index2) in row.pipeline" :key="index2">
                  <button type="button" class="btn btn-success btn-sm">
                    {{item.title}}
                    <i class="text-white ni ni-fat-delete"></i>
                  </button>
                  <br />
                </div>
                <base-button
                  @click.native="handleAddPipeline($index, row)"
                  class="remove btn-link"
                  type="success"
                  size="sm"
                  icon
                >
                  <i class="text-white ni ni-fat-add"></i>
                </base-button>
              </div>
            </el-table-column>
            <el-table-column min-width="180px" align="right" label="Actions">
              <div slot-scope="{$index, row}" class="d-flex">
                <nuxt-link :to="{name: 'customer-form', params: {id: row.id_}}">
                  <button class="btn btn-warning btn-sm" type="button">
                    <i class="text-white ni ni-ruler-pencil"></i> Edit
                  </button>
                </nuxt-link>&nbsp;&nbsp;
                <base-button
                  @click.native="handleDelete($index, row)"
                  class="remove btn-link"
                  type="danger"
                  size="sm"
                  icon
                >
                  <i class="text-white ni ni-fat-remove"></i> Delete
                </base-button>
              </div>
            </el-table-column>
          </el-table>-->
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p
                class="card-category"
              >Showing {{ from + 1 }} to {{ to }} of {{ paging.totalElements }} entries</p>
            </div>
            <ul class="pagination pagination-no-border">
              <li class="page-item prev-page" :class="{disabled: (paging.page + 1) === 1}">
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{active: (paging.page + 1) === item}"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{item}}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{disabled: (paging.page + 1) === paging.totalPages}"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>

    <modal :show.sync="modal.pipeline" size="sm" body-classes="p-0">
      <card
        type="secondary"
        header-classes="bg-transparent pb-5"
        body-classes="px-lg-5 py-lg-5"
        class="border-0 mb-0"
      >
        <template slot="header">Add Pipeline</template>

        <template>
          <form role="form">
            <base-input label="Select Available Pipeline">
              <el-select v-model="pipeline.idPipeline_" filterable placeholder="Simple select">
                <el-option
                  v-for="option in pipelineOptions"
                  :key="option.id_"
                  :label="option.title"
                  :value="option.id_"
                ></el-option>
              </el-select>
            </base-input>

            <div class="text-center">
              <base-button type="primary" class="my-4" @click="addPipelines()">Add Pipeline</base-button>
              <base-button type="warning" class="my-4" @click="closePipelines()">Cancel</base-button>
            </div>
          </form>
        </template>
      </card>
    </modal>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import { Modal, BaseAlert } from "@/components/argon-core";
export default {
  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      Modal,
      BaseAlert,
      modal: {
        pipeline: false,
      },
      pipelineOptions: [],
      pipeline: {
        idPipeline_: "",
        idPelanggan_: "",
      },
      tableColumns: [
        { prop: "name", label: "Nama", minWidth: 100, sortable: true },
        {
          prop: "namaImplementator",
          label: "Nama Implementator",
          minWidth: 100,
          sortable: true,
        },
        { prop: "address", label: "Alamat", minWidth: 100, sortable: true },
        { prop: "phone", label: "No Hp", minWidth: 100, sortable: true },
        { prop: "email", label: "Email", minWidth: 100, sortable: true },
      ],
      tableData: [],
      url: "/main_b/pelanggan/get_pelanggan",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
    // this.getPipelines();
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      this.$axios
        .$post(this.url, { size: size, page: page })
        .then((response) => {
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
    getPipelines() {
      this.$axios
        .$post("/main_b/pipeline/get_pipeline", { size: 1000, page: 0 })
        .then((response) => {
          this.pipelineOptions = response.content;
        });
    },
    addPipelines() {
      this.$axios
        .$put(
          "/main_b/pelanggan/add_pipeline_to_pelanggan/" +
            this.pipeline.idPelanggan_ +
            "/" +
            this.pipeline.idPipeline_
        )
        .then((response) => {
          swal
            .fire({
              title: `Success`,
              text: "A few words about this sweet alert ...",
              buttonsStyling: false,
              confirmButtonClass: "btn btn-success",
              type: "success",
            })
            .then((result) => {
              this.modal.pipeline = false;
              this.pipeline.idPelanggan_ = "";
              this.pipeline.idPipeline_ = "";
              this.getDatas(this.page.size, this.page.page);
            });
        })
        .catch((e) => {});
    },
    closePipelines(){
      this.modal.pipeline = 0;
    },
    handleAddPipeline(index, row) {
      console.log(row);
      this.getPipelines();
      this.pipeline.idPelanggan_ = row.id_;
      this.modal.pipeline = true;
    },
    handleEdit(index, row) {
      console.log(row);
      swal.fire({
        title: `You want to edit ${row.companyName}`,
        buttonsStyling: false,
        confirmButtonClass: "btn btn-info btn-fill",
      });
    },
    handleDelete(index, row) {
      swal
        .fire({
          title: "Are you sure?",
          text: `You wont be able to revert this!`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Yes, delete it!",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete("/main_b/pelanggan/pelanggan/" + row.id_)
        .then((user) => {
          swal.fire({
            title: "Deleted!",
            text: `You deleted ${row.companyName}`,
            type: "success",
            confirmButtonClass: "btn btn-success btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {
          swal.fire({
            title: "Delete Failed!",
            text: `Failed to delete ${row.companyName}`,
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>