<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Master</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/crm_customer/add" class="btn btn-neutral btn-sm"
            >New</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Customer</h3>
            <p class="text-sm mb-0">Management page for Data Customer</p>
          </template>

          <!-- Start Table -->
          <vue-good-table
            mode="remote"
            @on-page-change="onPageChange"
            @on-column-filter="onColumnFilter"
            @on-per-page-change="onPerPageChange"
            @on-search="onSearch"
            :totalRows="totalRecords"
            :isLoading.sync="isLoading"
            :pagination-options="{
              enabled: true,
              mode: 'records', //mode records or pages
            }"
            :rows="rows"
            :columns="columns"
            styleClass="vgt-table condensed"
            :searchOptions="{
              enabled: true,
              trigger: 'enter',
              placeholder: 'Search Table',
            }"
            :sort-options="{
              enabled: false,
            }"
            :line-numbers="true"
          >
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actionPipeline'">
                <div v-for="(item2, index2) in props.row.pipeline" :key="index2">
                  <div
                    class="btn-group btn-sm"
                    role="group"
                    style="float: left"
                  >
                    <nuxt-link
                      :to="{
                        name: 'crm_customer-pipeline',
                        params: { id: props.row.id_, idProcess: item2.idProcess },
                      }"
                      class="btn btn-primary btn-sm"
                    >
                      {{ item2.title }}
                    </nuxt-link>

                    <!-- <button type="button" class="btn btn-danger btn-sm" @click="handleDeletePipeline(item2, row)">
                        <i class="text-white ni ni-fat-delete"></i>
                        </button> -->
                  </div>
                </div>

                <div class="btn-group btn-sm" role="group" style="float:left">
                    <base-button
                        @click="handleAddPipeline(props)"
                        class="remove btn-link"
                        type="success"
                        size="sm"
                        icon
                        >
                        +
                    </base-button>
                </div>

              </span>
              <!-- <span v-if="props.column.field == 'actionPipeline'">
                   isi pipeline
                </span> -->

              <span v-else-if="props.column.field == 'action'">
                <nuxt-link
                  :to="{
                    name: 'crm_customer-edit',
                    params: { id: props.row.id_ },
                  }"
                >
                  <el-tooltip content="Edit" placement="top">
                    <base-button size="sm" type="warning">
                      <i class="text-white ni ni-ruler-pencil"></i>
                    </base-button>
                  </el-tooltip>
                </nuxt-link>
                &nbsp;&nbsp;

                <el-tooltip content="Delete" placement="top">
                  <base-button
                    @click="handleDelete(props)"
                    size="sm"
                    type="danger"
                    class="remove btn-link"
                  >
                    <i class="text-white ni ni-fat-remove"></i>
                  </base-button>
                </el-tooltip>
              </span>
            </template>
          </vue-good-table>
          <!-- End Table -->
        </card>
      </div>
    </div>

        <modal :show.sync="modal.pipeline" size="sm" body-classes="p-0">
      <card
        type="secondary"
        header-classes="bg-transparent pb-5"
        body-classes="px-lg-5 py-lg-5"
        class="border-0 mb-0"
      >
        <template slot="header">Add Pipeline</template>

        <template>
          <form role="form">
            <base-input label="Select Available Pipeline">
              <el-select v-model="pipeline.idPipeline_" filterable placeholder="Select Pipeline">
                <el-option
                  v-for="option in pipelineOptions"
                  :key="option.id_"
                  :label="option.title"
                  :value="option.id_"
                ></el-option>
              </el-select>
            </base-input>

            <div class="text-center">
              <base-button type="primary" class="my-4" @click="addPipelines()">Add Pipeline</base-button>
              <base-button type="warning" class="my-4" @click="closePipelines()">Cancel</base-button>
            </div>
          </form>
        </template>
      </card>
    </modal>

  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import { Modal, BaseAlert } from "@/components/argon-core";

export default {
  name: "my-component",
  components: {
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      Modal,
      BaseAlert,
      modal: {
        pipeline: false,
      },
      pipelineOptions: [],
      pipeline: {
        idPipeline_: "",
        idPelanggan_: "",
      },

      searchTerm: "",
      isLoading: false,
      columns: [
        {
          label: "Nama",
          field: "name",
        },
        {
          label: "Implementator",
          field: "namaImplementator",
        },
        {
          label: "Alamat",
          field: "address",
        },
        {
          label: "No. HP",
          field: "phone",
        },
        {
          label: "Email",
          field: "email",
        },
        // {
        //   label: "Keterangan",
        //   field: "keterangan",
        // },
        {
          label: "Pipeline",
          field: "actionPipeline",
        },
        {
          label: "Action",
          field: "action",
          width: "113px",
        },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {},
        page: 0,
        perPage: 10,
        search: "",
      },
    };
  },

  beforeMount() {
    this.getDatas(this.serverParams.perPage, this.serverParams.page);
  },

  methods: {
    // load items is what brings back the rows from server
    getDatas(size, page) {
      this.$axios
        .$post(
          "/main_b/pelanggan/get_pelanggan" + "?size=" + size + "&page=" + page,
          { search: [] }
        )
        // .$get(this.url + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          // this.tableData = response;
          this.rows = response.content;
          this.totalRecords = response.totalElements;
          this.serverParams.page = page;
          this.serverParams.perPage = size;
          this.serverParams.search = response.search;
        });
    },
    
    getPipelines() {
      this.$axios
        .$post("/main_b/pipeline/get_pipeline", { size: 1000, page: 0 })
        .then((response) => {
          this.pipelineOptions = response.content;
        });
    },
 
    addPipelines() {
      this.$axios
        .$put(
          "/main_b/pelanggan/add_pipeline_to_pelanggan/" +
            this.pipeline.idPelanggan_ +
            "/" +
            this.pipeline.idPipeline_
        )
        .then((response) => {
          swal
            .fire({
              title: `Success`,
              text: "Your pipeline has been saved",
              buttonsStyling: false,
              confirmButtonClass: "btn btn-success",
              type: "success",
            })
            .then((result) => {
              this.modal.pipeline = 0;
              // this.modal.pipeline = close();
              this.pipeline.idPelanggan_ = "";
              this.pipeline.idPipeline_ = "";
            });
            this.getDatas(this.serverParams.perPage, this.serverParams.page);
        })
        .catch((e) => {});
    },

    closePipelines(){
      this.modal.pipeline = 0;
    },

    handleAddPipeline(props) {
      console.log(props.row);
      this.getPipelines();
      this.pipeline.idPelanggan_ = props.row.id_;
      this.modal.pipeline = true;
    },

    handleDelete(props) {
      swal
        .fire({
          title: "Are you sure ?",
          text: `Delete ${props.row.name}`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Yes, delete it!",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(props);
          }
        });
    },

    deleteRow(props) {
      this.$axios
        .$delete(`/main_b/pelanggan/pelanggan/` + props.row.id_)
        .then((user) => {
          swal.fire({
            title: "Deleted!",
            text: `${props.row.name} has been deleted.`,
            type: "success",
            confirmButtonClass: "btn btn-success btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(this.serverParams.perPage, this.serverParams.page);
        })

        .catch((error) => {
          swal.fire({
            title: "Delete Failed!",
            text: `Failed deleting ${props.row.name}`,
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },

    onPageChange(params) {
      this.updateParams({ page: params.currentPage - 1 });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onPerPageChange(params) {
      this.updateParams({ perPage: params.currentPerPage });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onColumnFilter(params) {
      this.updateParams(params);
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },

    onSearch(params) {
      this.serverParams.page = 0;
      this.updateParams({
        search: params.searchTerm,
      });
      this.getDatas(this.serverParams.perPage, this.serverParams.page);
    },
  },
};
</script>
